// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset
// To configure blueprint, edit the partials/_base.sass file.
@import partials/base
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/scaffolding

@import fancy-buttons

// Generate the blueprint framework according to your configuration:
+blueprint
+blueprint-scaffolding

#header
  +append-bottom(20px)
  height: 80px
  background-color: lightblue
  border-bottom: 2px solid black
#wrapper
  +container
  +showgrid
  #header
    margin: 20px 0 50px 0
  #content
    +push(1)
    +column(22, true)
    #tablearea
      .color-info
        +column(24, true)
        .color-name
          display: none
          font-size: 16pt
      #middlearea
        +column(24, true)
        #boardarea
          +column(10)
          position: relative
          #chessboard
            width: 360px
            height: 360px
            border: 4px solid black
            float: left
            .tile
              float: left
              width: 45px
              height: 45px
            .white
              background-color: #FFCE9E
            .black
              background-color: #D18B47
            .selected
              background-color: yellow !important
          button.choose
            +fancy-button(#2966a8)
            height: 45px
            width: 180px
            border: 3px solid black
            font-size: 16pt
          #choose-white
            position: absolute
            top: 135px + 4px
            left: 90px + 4px
          #choose-black
            position: absolute
            top: 180px + 4px
            left: 90px + 4px
            // top: -229px
            // left: 94px
        #misc
          +column(12, true)
    .piece
      background: url('/media/img/chesspieces.gif')
      height: 45px
      width: 45px
    .P
      background-position: 0px 0px
    .N
      background-position: -45px 0px
    .B
      background-position: -90px 0px
    .R
      background-position: -135px 0px
    .Q
      background-position: -180px 0px
    .K
      background-position: -225px 0px
    .p
      background-position: 0px 45px
    .n
      background-position: -45px 45px
    .b
      background-position: -90px 45px
    .r
      background-position: -135px 45px
    .q
      background-position: -180px 45px
    .k
      background-position: -225px 45px
    #turn-indicator
      +prepend(-1)
