// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset
// To configure blueprint, edit the partials/_base.sass file.
@import partials/base
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/scaffolding

// Generate the blueprint framework according to your configuration:
+blueprint
+blueprint-scaffolding

#container
  +container
table#chessboard
  width: 400px
  height: 400px
  border: 3px solid black
  td
    margin: 0
    padding: 0
  .white
    background: white
  .black
    background: lightgray
  .selected
    background-color: yellow !important
  .piece
    background: url('/img/chesspieces.gif')
    height: 45px
    width: 45px
  .P
    background-position: 0px 0px
  .N
    background-position: -45px 0px
  .B
    background-position: -90px 0px
  .R
    background-position: -135px 0px
  .Q
    background-position: -180px 0px
  .K
    background-position: -225px 0px
  .p
    background-position: 0px 45px
  .n
    background-position: -45px 45px
  .b
    background-position: -90px 45px
  .r
    background-position: -135px 45px
  .q
    background-position: -180px 45px
  .k
    background-position: -225px 45px
