#tablearea
  #middlearea
    #boardarea
      #chessboard
      button#choose-white.choose White
      button#choose-black.choose Black
    #misc
      #top-side.color-info
        #top-name.color-name Black!
        #turn-indicator
        .clear
        #top-captured
      #bottom-side.color-info
        #bottom-captured
        .clear
        #bottom-name.color-name White! (you)

:javascript
  | var game_id = "#{game_id}";
  | var board = new Chessboard(!{game_state}, !{player_state});
