#tablearea
  #boardarea
    #chessboard
    button#choose-white.choose White
    button#choose-black.choose Black
    // #turn
  #infoarea
    #top-side.color-info
      #top-name
        .black-player
      .clear
      #top-captured
    #bottom-side.color-info
      #bottom-captured
      .clear
      #bottom-name
        .white-player
.clear
#announcement-area
  h2#info

script(type="text/javascript", src="/media/js/chessboard.js")
:javascript
  | var game_id = "#{game_id}";
  | var game_state = !{game_state};
  | var player_state = !{player_state};

  | var a = new ApplicationView({ model: new Application() });
  | a.model.loadFen(game_state.fen);
