#tablearea
  #black-side.color-info
    #black-name.color-name Black
    button#choose-black.choose Choose Black
  .clear
  table#chessboard(cellpadding=0, cellspacing=0)
  .clear
  #white-side.color-info
    button#choose-white.choose Choose White
    #white-name.color-name White
#misc
  h2#turn


:javascript
  | var game_id = "#{game_id}";
  | var board = new Chessboard(!{game_state}, !{player_state});
