#tablearea
  #black-side
    #black-name Black
    button#choose-black.choose Choose Black
  table#chessboard(cellpadding=0, cellspacing=0)
  #white-side
    button#choose-white.choose Choose White
    #white-name White
#misc
  h2#turn


:javascript
  | var game_id = "#{game_id}";
  | var board = new Chessboard(!{game_state}, !{player_state});
