// #player1.name GeorgeWashington
#tablearea
  #black-side
    #black-name Black
    input#choose-black(type="submit", value="Choose Black", data-color="b")
  table#chessboard(cellpadding=0, cellspacing=0)
  #white-side
    input#choose-white(type="submit", value="Choose White", data-color="w")
    #white-name White
// #player2.name AbrahamLincoln (you)

#misc
  h2#turn

:javascript
  | var game_id = "#{game_id}";
  | var board = new Chessboard(!{game_state});
  | var your_color = "#{your_color}";
