#tablearea
  #black-side.color-info
    #black-name.color-name Black
    #black-captured
    button#choose-black.choose Choose Black
  .clear
  table#chessboard(cellpadding=0, cellspacing=0)
  .clear
  #white-side.color-info
    button#choose-white.choose Choose White
    #white-name.color-name White
    #white-captured
  // #turn-indicator lol
#misc
  #captured
  .clear
  h2#turn
  .clear
  .success Some awesome dude has connected to the game.
  .success GeorgeWashington has connected to the game.

:javascript
  | var game_id = "#{game_id}";
  | var board = new Chessboard(!{game_state}, !{player_state});
  | board.showCaptured();
