#instructions
  h2
    b Step 1:
    | Create a game.
    | No need to create an account.
    a(href="/asdf") click here
  h2
    b Step 2:
    | Invite a player.
    | Anyone visiting your URL is now part of the game.
  h2
    b Step 3:
    | Play!
  button#new-game New Game
