#summary
  h3
    | Play chess with a friend instantly. No sign ups. No hassle.
#instructions
  h2
    b Step 1:
    | Create a game.
  h2
    b Step 2:
    | Share the game URL to invite players.
  h2
    b Step 3:
    | Play!
button#new-game New Game
script(type="text/javascript")
  $("#new-game").click(function() {
    window.location = '/new';
  });
