!!!
%html
  %head
    %script(type="text/javascript" src="/media/js/chess.js")
    %script(type="text/javascript" src="/media/js/jquery-1.4.4.min.js")
    :javascript
      var chess = new Chess();
      // console.dir(chess);
      $(document).ready(function() {
        $("td").click(function() {
          $("td").removeClass("selected");
          $(this).toggleClass('selected');
          // alert($(this).attr('id'));
        });
      });
    %link(href="/media/css/style.css" rel="stylesheet" type="text/css")
  %body
    %table(id="chessboard" cellpadding=0 cellspacing=0)
      - for i in ('a'..'h').to_a.reverse
        %tr
          - for j in 1..8
            %td(width="45px" height="45px" id="#{i+j.to_s}" class="#{(i.ord+j) % 2 == 0 ? 'white' : 'black'}")
              .white-pawn
