!!!
%html
  %head
    %script(type="text/javascript" src="/media/js/jquery-1.4.4.min.js")
    %script(type="text/javascript" src="/media/js/chess.js")
    %script(type="text/javascript" src="/media/js/chessboard.js")
    :javascript
      var chess = new Chess();
      var selected;

      $(document).ready(function() {
        $("td").click(function() {
          $("td").not(this).removeClass("selected");
          $(this).toggleClass('selected');
          selected = $(this);

          // alert($(this).attr('id'));
        });
        // $("#b3 > .piece").addClass('white-pawn');
        initializeBoard();
      });
      var move = function(from, to) {
        chess.move(from, to);
      }

    %link(href="/media/css/style.css" rel="stylesheet" type="text/css")
  %body
    %table(id="chessboard" cellpadding=0 cellspacing=0)
      - for i in (1..8).to_a.reverse
        %tr
          - for j in ('a'..'h')
            %td(width="45px" height="45px" id="#{j+i.to_s}" class="#{(i+j.ord) % 2 == 1 ? 'white' : 'black'}")
              .piece
