!!! 5
html
  head
    script(type="text/javascript", src="/media/js/jquery-1.4.4.min.js")
    script(type="text/javascript", src="/media/js/faye.js")
    script(type="text/javascript", src="/media/js/chess.js")
    script(type="text/javascript", src="/media/js/chessboard.js")
    link(href="/media/css/screen.css", rel="stylesheet", type="text/css")
  body
    #container
      #header
        h1
          a(href="/")
            img(src="/media/img/logo.gif", alt="Chess Me NOW")
      #content!= body
