!!!
%html
  %head
    %script(type="text/javascript" src="/media/js/jquery-1.4.4.min.js")
    %script(type="text/javascript" src="/media/js/chess.js")
    %script(type="text/javascript" src="/media/js/chessboard.js")
    %link(href="/media/css/style.css" rel="stylesheet" type="text/css")
  %body
    #container= yield
