!!! 5
html
  head
    // link(href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz', rel='stylesheet', type='text/css')
    link(href="/media/css/screen.css", rel="stylesheet", type="text/css")
    script(type="text/javascript", src="/media/js/jquery-1.4.4.min.js")
    script(type="text/javascript", src="/media/js/faye.js")
    script(type="text/javascript", src="/media/js/chess.js")
    script(type="text/javascript", src="/media/js/chessboard.js")
  body
    #header
      .container
        a(href="/")
          img(src="/media/img/logo.gif", alt="Chess Me NOW")
    #wrapper
      #content!= body
