#chessboard {
    border: 3px solid black;
}
.white {
    background: white
}
.black {
    background: lightgray
}
.selected {
    background-color: yellow !important;
}
.white-pawn {
    height: 45px;
    width: 45px;
    background: url('/img/chesspieces.gif');
    background-position: 0px 0px;
}
.white-knight {
    height: 45px;
    width: 45px;
    background: url('/img/chesspieces.gif');
    background-position: -45px 0px;
}
.white-bishop {
    height: 45px;
    width: 45px;
    background: url('/img/chesspieces.gif');
    background-position: -90px 0px;
}
.white-rook {
    height: 45px;
    width: 45px;
    background: url('/img/chesspieces.gif');
    background-position: -135px 0px;
}
.white-queen {
    height: 45px;
    width: 45px;
    background: url('/img/chesspieces.gif');
    background-position: -180px 0px;
}
.white-king {
    height: 45px;
    width: 45px;
    background: url('/img/chesspieces.gif');
    background-position: -225px 0px;
}
